
    <!-- CSS (style)-->
    <style>
        /* For Font Types (form1) */
        #form1 {
            font-size: 16px;
        }

        /* Font Sizes (form2) */
        h4 {
            padding:20px;
            background:#eee;
            font-size:12px;
        }

        /* For Font Colors (form3) */
        #form3 {
            font-size: 16px;
        }

        #color-1 {
            color: red;
        }
        #color-2 {
            color: green;
        }
        #color-3 {
            color: yellow;
        }
        #color-4 {
            color: blue;
        }
        #color-5 {
            color: black
        }

        /* Theme Color (form4) */

    </style>
 
    </head>

<<<<<<< HEAD
        <body id="changeBg">
            <div>
                
                <!--Title of Settings:-->
                <div class="div1">
                    <h2 id="a-set-font"style="right:90px; top:-50px;">
                        Settings
                    </h2>
                    <br><br>

                    <form>
                        <!-- Square card -->
                        <div id="card-set" class="demo-card-square mdl-card mdl-shadow--2dp">
                            <br>
                            <!--Font Family-->
                            <div class="mdl-selectfield mdl-js-selectfield">
                                
                                <label for="fontFam" class="mdl-card__supporting-text">Font Family:</label>
                                    <select id="fontFam">
                                        <option value="" selected></option>
                                        <option value="Times New Roman">
                                            Times New Roman
                                        </option>
                                        <option value="impact">Impact</option>
                                        <option value="fantasy">Fantasy</option>
                                        <option value="cursive">Cursive</option>
                                    </select>
                                
                                <label class="mdl-selectfield__label" for="type1"></label>
                            </div><br>


                            <!--Font Size-->
                            <div class="mdl-selectfield mdl-js-selectfield">
                                
                                <label for="sizes" class="mdl-card__supporting-text">Font Sizes:</label>
                                    <!--id="sizes will change the font color"-->
                                    <select id="sizes">
                                        <option value="" selected></option>
                                        <option value="16px">16</option>
                                        <option value="20px">20</option>
                                        <option value="24px">24</option>
                                        <option value="34px">34</option>
                                        <option value="48px">48</option>
                                        <option value="60px">60</option>
                                    </select>
                                
                                <label class="mdl-selectfield__label" for="type1"></label>
                            </div><br>
                            

                            <!--Font Colors-->
                            <div class="mdl-selectfield mdl-js-selectfield">
                                
                                <label for="colors" class="mdl-card__supporting-text">Font Colors:</label>
                                    <select id="colors">
                                        <option value=""selected></option>
                                        <option value="red">Red</option>
                                        <option value="green">Green</option>
                                        <option value="blue">Blue</option>
                                        <option value="black">Black</option> 
                                        <option value="pink">Pink</option>
                                        <option value="white">White</option>
                                    </select>
                                
                            </div><br>
                        
                        
                            <!--Theme Color-->
                            <div class="mdl-selectfield mdl-js-selectfield">
                                <label for="aBgColor" class="mdl-card__supporting-text">Background Colors:</label>
                                    <select id="aBgColor">
                                        <optgroup label="RGB Colors">
                                            <option value=""selected></option>
                                            <option value="#ED2939">Red</option>
                                            <option value="#06A94D">Green</option>
                                            <option value="#3895D3">Blue</option>
                                        </optgroup>
                                        <optgroup label="Dark|Bright">
                                            <option value=""selected></option>
                                            <option value="#242526">Dark</option>
                                            <option value="#E4E6EB">Bright</option>
                                        </optgroup>
                                    </select>
                                
                                <div>
                                    <!-- Reset settings-->
                                    <button id="reset1" type="button" onclick="reset()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                        Reset Settings
                                    </button>
                                </div>

                                <!-- Go back to home page, with Timeout of 2 seconds-->
                                <button id="back1" type="button" onclick="setTimeout(backToHomePage,2000)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    <span class="button_text">Go back</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <footer></footer>
                </div>  
            </div>
        </body>
    <!--Attach JS file-->
    <script src="js/setting_T.js"></script>
=======
<body>

  <!--Title of Settings:-->
  <h1 style="font-family: Arial, Helvetica, sans-serif">Settings</h1>

    <form if="form1" style="padding: 20px">      
        <div class="mdl-selectfield mdl-js-selectfield">
        <label>Font Types:</label>
        <select id="change-font" class="input" onchange="changeFontType(this);">
          <option value=""></option>
          <option value="Times New Roman">
              Times New Roman
          </option>
          <option value="arial">Arial</option>
          <option value="impact">Impact</option>
          <option value="fantasy">Fantasy</option>
          <option value="cursive">Cursive</option>
        </select>


          <!--<select class="mdl-selectfield__select" id="type1" name="type">
            <option value=""></option>
            <option value="type-1">Arial</option>
            <option value="type-2">Calibri</option>
            <option value="type-3">Times New Roman</option>
          </select>-->
          <label class="mdl-selectfield__label" for="type1"></label>
        </div>
      </form>

      

    <!-- Default Slider -->
    <form id="form2" style="padding: 20px">
        <label>Font Sizes:</label>
        <!--h3 which will change all the size of <h3> html tag-->
        <h4 id="a-text">The text in <span>12</span>px: this is the size</h4> <!--span is for the number of px-->
        <br>
        <!--Using the MDL Slider, also has id and class with min 0 to max 75-->
        <input id ="slider" class="mdl-slider mdl-js-slider" type="range" min="12" max="75" value="12"/> 
    </form>


    <form id="form3" style="padding: 20px">
        <div class="mdl-selectfield mdl-js-selectfield">
        <label>Font Colors:</label>
          <!-- Flat button with ripple -->
          <button onclick="changeColorText('red');" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Red
          </button>
          <button onclick="changeColorText('green');" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Green
          </button>
          <button onclick="changeColorText('yellow');" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Yellow
          </button>
          <button onclick="changeColorText('blue');" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Blue
          </button>
          <button onclick="changeColorText('black');" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Black
          </button>



          <!--<select class="mdl-selectfield__select" id="colors" name="color">
            <option value=""></option>
            <option onclick="changeColorText('red');" id="color-1" value="option1">Red</option>
            <option onclick="changeColorText('green');" id="color-2" value="option2">Green</option>
            <option onclick="changeColorText('yellow');" id="color-3" value="option3">Yellow</option>
            <option onclick="changeColorText('blue');" id="color-4" value="option4">Blue</option>
            <option onclick="changeColorText('black');" id="color-5" value="option5">Black</option> 
          </select>-->
          
        </div>
      </form>


      
    <form id="form4" style="padding: 20px">
        <label>Theme Color:</label> 
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
            <div type="checkbox" id="switch-2" class="mdl-switch__input">
            <div class="mdl-switch__label"></div>
        </label>
        </div>
    </form>


<!--Attach JS file-->
<script src="setting_T.js"></script>
</body>
>>>>>>> master
</html>