/* MDL Card */
#card-set {
    width: 400px;
    height: 300px;
    margin-top: -40px;
    margin-right: 100px;
    margin-left: -100px;
  }
  
  #card-set-for-pop{
      width: 350px;
      height: 205px;
      margin-top: 190px;
      margin-right: -525px;
      margin-left: 525px;
      text-align: center;
      text-indent: 20px;
      
  }
  
  .demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
  }
  
  
  .demo-card-square > .mdl-card__title {
      color: #fff;
      background:#46B6AC;
    }
  
  /** CSS for Setting_T.html and setting_T.js **/
  /* Font Family(form1) */
  /* Font Sizes (form2) */
  /* Font Colors (form3) */
  /* Theme Color (form4) */
  .div1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -100px;
  
  }
  
  
  /*Theme position*/
  #dark1 {
    position:absolute; 
    right:210px; 
    top:150px;
  }
  
  #bright1 {
    position:absolute; 
    right: 80px; 
    top:150px;
  }
  

  /*Reset Settings*/
  #reset1 {
    position:absolute; 
    right:240px; 
    top:175px;
  }

  #reset2 {
    position:absolute; 
    right:90px; 
    top:175px;
  }

  #reset3 {
    position:absolute; 
    right:240px; 
    top:210px;
  }

  #reset4 {
    position:absolute; 
    right:20px; 
    top:210px;
  }

  #reset5 {
    position:absolute; 
    right:165px; 
    top:250px;
  }

  
  #back1 {
    position:absolute; 
    right:25px; 
    top:20px;
  }
  

  
  
  